In [2]:
import pandas as pd

# População

In [ ]:
pop = pd.read_csv('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Populacao/population.csv')

# Contagem das doses administradas e ciclo de vacinação por estados

In [7]:
df1 = pd.read_csv('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Vaccine_covid/data_uf.csv')

In [8]:
df1.head()

,cod_uf,POPULACAO,cod_ufIbge,uf_nome,num_people_vaccinated,only_one,cicle_complete,num_doses
0,RO,1823332,11,Rondônia,1279086,301726,935775,2306806
1,AC,912465,12,Acre,593150,159539,420673,1030458
2,AM,4297638,13,Amazonas,2643231,682283,1904331,4734933
3,RR,650007,14,Roraima,388925,128102,249633,652799
4,PA,8815726,15,Pará,5315968,1678185,3504721,9076730

# Contagem do periodo dos ciclos vacinais por estado

In [48]:
temp = pd.read_csv('/Users/julianeoliveira/Downloads/completo_no_tempo_3.csv')

In [291]:
temp

,uf_res,somente_pri_maior_6,somente_pri_maior_2_menor_6,somente_pri_menor_2,ciclo_completo_s_reforco_maior_6,ciclo_completo_s_reforco_maior_2_menor_6,ciclo_completo_s_reforco_menor_2,ciclo_completo_c_reforco_maior_6,ciclo_completo_c_reforco_maior_2_menor_6,ciclo_completo_c_reforco_menor_2,...,tot_completo com reforco,somente_pri_maior_6_percent,somente_pri_maior_2_menor_6_percent,somente_pri_menor_2_percent,ciclo_completo_s_reforco_maior_6_percent,ciclo_completo_s_reforco_maior_2_menor_6_percent,ciclo_completo_s_reforco_menor_2_percent,ciclo_completo_c_reforco_maior_6_percent,ciclo_completo_c_reforco_maior_2_menor_6_percent,ciclo_completo_c_reforco_menor_2_percent
0,pi,52019,377686,153503,151589,1132417,513317,145243,0,0,...,145243,1.202424,1.456000,3.273716,1.506711,1.558178,2.078133,1.427084,NaN,0.000000
1,pr,155904,932169,549097,417432,4463134,1569511,730337,0,0,...,730337,3.603735,3.593563,11.710439,4.149042,6.141162,6.354072,7.175921,NaN,0.000000
2,rj,451406,2294326,166124,844319,5465482,1962359,617445,0,123,...,617568,10.434291,8.844752,3.542880,8.392062,7.520369,7.944494,6.066702,NaN,37.386018
3,pb,76287,566040,162055,220896,1224137,684673,235298,0,0,...,235298,1.763381,2.182115,3.456102,2.195584,1.684382,2.771858,2.311919,NaN,0.000000
4,ro,33613,231300,37734,77999,480116,274221,59316,0,84,...,59400,0.776968,0.891674,0.804743,0.775267,0.660628,1.110167,0.582809,NaN,25.531915
5,ba,482196,2276143,395016,772401,4163595,1729582,491335,0,0,...,491335,11.146005,8.774656,8.424397,7.677237,5.729004,7.002110,4.827609,NaN,0.000000
6,ms,58661,276652,35584,137028,1000973,192945,68413,0,38,...,68451,1.355954,1.066509,0.758890,1.361982,1.377314,0.781126,0.672191,NaN,11.550152
7,mg,408101,2739643,503732,1054039,7128497,2946656,1088557,0,5,...,1088562,9.433292,10.561474,10.742953,10.476563,9.808636,11.929362,10.695610,NaN,1.519757
8,go,114615,953091,195702,295488,2171244,958484,356553,0,2,...,356555,2.649336,3.674218,4.173682,2.936987,2.987578,3.880366,3.503309,NaN,0.607903
9,sc,103645,716041,220972,294866,2739474,1047854,340512,0,0,...,340512,2.395764,2.760377,4.712609,2.930804,3.769449,4.242175,3.345698,NaN,0.000000
10,es,62519,453036,78449,116885,1326070,531524,111027,0,0,...,111027,1.445132,1.746479,1.673060,1.161772,1.824640,2.151843,1.090895,NaN,0.000000
11,rs,177356,961440,323257,578505,4304964,1392288,932770,0,4,...,932774,4.099600,3.706404,6.894012,5.750019,5.923524,5.636595,9.164925,NaN,1.215805
12,rn,40305,399596,90888,141084,1197231,510681,196700,0,4,...,196704,0.931654,1.540464,1.938343,1.402297,1.647360,2.067462,1.932675,NaN,1.215805
13,pe,231686,1368837,287514,461323,2781392,1190717,397625,0,1,...,397626,5.355443,5.276942,6.131731,4.585295,3.827127,4.820547,3.906862,NaN,0.303951
14,ce,262994,1173702,212120,455838,2809880,1104015,352563,0,2,...,352565,6.079130,4.524685,4.523824,4.530777,3.866326,4.469539,3.464105,NaN,0.607903
15,ap,18772,174464,11030,46328,185204,44463,8403,0,0,...,8403,0.433916,0.672568,0.235234,0.460475,0.254836,0.180006,0.082564,NaN,0.000000
16,sp,844418,4935738,426178,2228031,20278879,4192353,2966705,0,4,...,2966709,19.518799,19.027540,9.088980,22.145391,27.903238,16.972493,29.149340,NaN,1.215805
17,al,50962,503448,90146,160553,945618,434746,133775,0,2,...,133777,1.177991,1.940820,1.922519,1.595808,1.301147,1.760043,1.314405,NaN,0.607903
18,xx,909,3926,480,1309,13462,3127,1432,0,0,...,1432,0.021012,0.015135,0.010237,0.013011,0.018523,0.012659,0.014070,NaN,0.000000
19,ac,14986,130209,14826,52694,278415,65356,15066,0,0,...,15066,0.346403,0.501963,0.316190,0.523749,0.383092,0.264590,0.148031,NaN,0.000000
20,mt,54272,485255,146447,163880,1065884,484111,120386,0,25,...,120411,1.254502,1.870685,3.123235,1.628876,1.466630,1.959895,1.182852,NaN,7.598784
21,rr,13785,95986,18815,40487,127794,57455,15965,0,0,...,15965,0.318642,0.370031,0.401262,0.402418,0.175841,0.232603,0.156864,NaN,0.000000
22,ma,172461,864078,160758,293273,1969447,578868,142883,0,0,...,142883,3.986452,3.331068,3.428441,2.914971,2.709911,2.343513,1.403896,NaN,0.000000
23,pa,178333,1338239,169098,397562,1917127,864909,178449,0,32,...,178481,4.122184,5.158985,3.606306,3.951546,2.637920,3.501533,1.753349,NaN,9.726444
24,df,42770,413792,44421,129432,1019393,420249,155101,0,0,...,155101,0.988632,1.595191,0.947354,1.286482,1.402660,1.701353,1.523944,NaN,0.000000
25,se,64568,354422,42542,104379,656302,273245,68399,0,0,...,68399,1.492495,1.366316,0.907281,1.037469,0.903055,1.106216,0.672054,NaN,0.000000
26,am,94615,506683,84090,285350,1076377,342482,144356,0,1,...,144357,2.187034,1.953291,1.793364,2.836221,1.481068,1.386518,1.418369,NaN,0.303951
27,to,21628,243642,36275,72924,432393,206627,58107,0,1,...,58108,0.499933,0.939253,0.773627,0.724824,0.594962,0.836517,0.570930,NaN,0.303951
28,NaN,42392,170385,32100,65030,320818,124050,44885,0,1,...,44886,0.979895,0.656843,0.684588,0.646362,0.441438,0.502209,0.441017,NaN,0.303951

34.900000000000006

In [58]:
52019*100/(52019+377686+153503)

8.919459266676727

In [59]:
377686*100/(52019+377686+153503)

64.76008559553367

In [60]:
153503*100/(52019+377686+153503)

26.320455137789605

In [71]:
temp.filter(['uf_res','somente_pri_maior_6_percent',
             'somente_pri_maior_2_menor_6_percent',
             'somente_pri_menor_2_percent',
            'ciclo_completo_s_reforco_maior_6_percent',
            'ciclo_completo_s_reforco_maior_2_menor_6_percent',
            'ciclo_completo_s_reforco_menor_2_percent',
            'ciclo_completo_c_reforco_maior_6_percent',
            'ciclo_completo_c_reforco_maior_2_menor_6_percent',
            'ciclo_completo_c_reforco_menor_2_percent']).to_csv('/Users/julianeoliveira/Downloads/completo_no_tempo_SO_PERCENT.csv')

In [53]:
temp['somente_pri_maior_6_percent'] = temp['somente_pri_maior_6']*100/temp['somente_pri_maior_6'].sum()

In [61]:
temp['somente_pri_maior_2_menor_6_percent'] = temp['somente_pri_maior_2_menor_6']*100/temp['somente_pri_maior_2_menor_6'].sum()

In [63]:
temp['somente_pri_menor_2_percent'] = temp['somente_pri_menor_2']*100/temp['somente_pri_menor_2'].sum()

In [66]:
temp.columns

Index(['uf_res', 'somente_pri_maior_6', 'somente_pri_maior_2_menor_6',
       'somente_pri_menor_2', 'ciclo_completo_s_reforco_maior_6',
       'ciclo_completo_s_reforco_maior_2_menor_6',
       'ciclo_completo_s_reforco_menor_2', 'ciclo_completo_c_reforco_maior_6',
       'ciclo_completo_c_reforco_maior_2_menor_6',
       'ciclo_completo_c_reforco_menor_2', 'tot', 'tot_uma dose',
       'tot_completo sem reforco', 'tot_completo com reforco',
       'somente_pri_maior_6_percent', 'somente_pri_maior_2_menor_6_percent',
       'somente_pri_menor_2_percent'],
      dtype='object')

In [53]:
temp['somente_pri_maior_6_percent'] = temp['somente_pri_maior_6']*100/temp['somente_pri_maior_6'].sum()

In [61]:
temp['somente_pri_maior_2_menor_6_percent'] = temp['somente_pri_maior_2_menor_6']*100/temp['somente_pri_maior_2_menor_6'].sum()

In [63]:
temp['somente_pri_menor_2_percent'] = temp['somente_pri_menor_2']*100/temp['somente_pri_menor_2'].sum()

In [67]:
temp['ciclo_completo_s_reforco_maior_6_percent'] = temp['ciclo_completo_s_reforco_maior_6']*100/temp['ciclo_completo_s_reforco_maior_6'].sum()

temp['ciclo_completo_s_reforco_maior_2_menor_6_percent'] = temp['ciclo_completo_s_reforco_maior_2_menor_6']*100/temp['ciclo_completo_s_reforco_maior_2_menor_6'].sum()

temp['ciclo_completo_s_reforco_menor_2_percent'] = temp['ciclo_completo_s_reforco_menor_2']*100/temp['ciclo_completo_s_reforco_menor_2'].sum()

In [69]:
temp['ciclo_completo_c_reforco_maior_6_percent'] = temp['ciclo_completo_c_reforco_maior_6']*100/temp['ciclo_completo_c_reforco_maior_6'].sum()

temp['ciclo_completo_c_reforco_maior_2_menor_6_percent'] = temp['ciclo_completo_c_reforco_maior_2_menor_6']*100/temp['ciclo_completo_c_reforco_maior_2_menor_6'].sum()

temp['ciclo_completo_c_reforco_menor_2_percent'] = temp['ciclo_completo_c_reforco_menor_2']*100/temp['ciclo_completo_c_reforco_menor_2'].sum()

In [50]:
temp['tot'] = temp.iloc[:, 1:10].sum(axis=1)

temp['tot_uma dose'] = temp.iloc[:, 1:4].sum(axis=1)

temp['tot_completo sem reforco'] = temp.iloc[:, 4:7].sum(axis=1)

temp['tot_completo com reforco'] = temp.iloc[:, 7:10].sum(axis=1)

In [294]:
temp_perc = temp.filter(['uf_res','somente_pri_maior_6_percent',
             'somente_pri_maior_2_menor_6_percent',
             'somente_pri_menor_2_percent',
            'ciclo_completo_s_reforco_maior_6_percent',
            'ciclo_completo_s_reforco_maior_2_menor_6_percent',
            'ciclo_completo_s_reforco_menor_2_percent',
            'ciclo_completo_c_reforco_maior_6_percent',
            'ciclo_completo_c_reforco_maior_2_menor_6_percent',
            'ciclo_completo_c_reforco_menor_2_percent'])

In [296]:
temp_perc['somente_pri_maior_6_percent'].sum()

100.0

# Tipo de vacinas por estado

In [ ]:
tipo = pd.read_csv('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Vaccine_covid/tipoVac_uf.csv')

In [ ]:
tipo.head()

# Variantes

In [75]:
var = pd.read_excel('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Vaccine_covid/Data.xlsx')

In [77]:
var.head()

,Período,Estado,Laboratório,Variante,Classificação,Quantidade
0,Dez 2021,Distrito Federal,Outros,BA.1 (Omicron),VOC/VOI,1
1,Dez 2021,Mato Grosso do Sul,Outros,AY.4.2 (Delta),VOC/VOI,1
2,Dez 2021,Mato Grosso do Sul,Outros,AY.46.3 (Delta),VOC/VOI,1
3,Dez 2021,Rio Grande do Sul,Outros,BA.1 (Omicron),VOC/VOI,1
4,Dez 2021,Santa Catarina,FIOCRUZ,AY.4 (Delta),VOC/VOI,1

In [81]:
sum(count_uf['Quantidade'])

79858

In [78]:
count_uf = var.groupby(['Estado'])['Quantidade'].sum().reset_index().sort_values(by=['Quantidade'])

In [79]:
count_uf['quant_per'] = count_uf['Quantidade']*100/sum(count_uf['Quantidade'])

In [83]:
count_uf.head()

       Estado  Quantidade  quant_per
17      Piauí         171   0.214130
21   Rondônia         173   0.216635
0        Acre         204   0.255453
22    Roraima         245   0.306795
26  Tocantins         271   0.339352

In [85]:
var['Variante'].unique();

In [101]:
var['nome_var'] = var['Variante']

In [102]:
var['nome_var'] = var['nome_var'].replace('BA.1 (Omicron)', 'Omicron')

In [103]:
var['nome_var'] = var['nome_var'].replace([ 'AY.46.6 (Delta)',
       'AY.24 (Delta)','AY.13 (Delta)', 'AY.96 (Delta)','AY.38 (Delta)',
         'AY.53 (Delta)','AY.98 (Delta)','AY.35 (Delta)', 'AY.61 (Delta)',
          'AY.5.4 (Delta)', 'AY.102 (Delta)', 'AY.43.3 (Delta)',
       'AY.45 (Delta)', 'AY.51 (Delta)','AY.49 (Delta)', 'AY.94 (Delta)', 'AY.108 (Delta)',
       'AY.22 (Delta)', 'AY.71 (Delta)','AY.20 (Delta)', 'AY.41 (Delta)',
       'AY.116.1 (Delta)', 'AY.118 (Delta)', 'AY.121 (Delta)',
       'AY.122.1 (Delta)', 'AY.5.1 (Delta)', 'AY.5.3 (Delta)',
       'AY.60 (Delta)', 'AY.62 (Delta)', 'AY.75.2 (Delta)','AY.111 (Delta)',
       'AY.106 (Delta)', 'AY.113 (Delta)', 'AY.125 (Delta)',
       'AY.75 (Delta)','AY.103 (Delta)',
       'AY.116 (Delta)', 'AY.120 (Delta)', 'AY.26 (Delta)',
       'AY.36 (Delta)', 'AY.99 (Delta)', 'AY.100 (Delta)',
       'AY.117 (Delta)', 'AY.119 (Delta)', 'AY.124 (Delta)',
       'AY.3 (Delta)', 'AY.39 (Delta)', 'AY.42 (Delta)', 'AY.46 (Delta)',
       'AY.5 (Delta)', 'AY.52 (Delta)', 'AY.6 (Delta)', 'AY.88 (Delta)',
       'AY.9.2 (Delta)', 'AY.92 (Delta)', 'AY.98.1 (Delta)','AY.4.2 (Delta)', 'AY.46.3 (Delta)',
       'AY.4 (Delta)', 'AY.101 (Delta)', 'AY.99.2 (Delta)',
       'AY.43.1 (Delta)', 'AY.122 (Delta)', 'AY.43 (Delta)',
       'AY.34 (Delta)', 'AY.34.1 (Delta)', 'AY.43.2 (Delta)',
       'AY.99.1 (Delta)', 'B.1.617.2 (Delta)', 'AY.44 (Delta)',
       'AY.25 (Delta)', 'AY.47 (Delta)'], 'Delta')

In [104]:
var['nome_var'] = var['nome_var'].replace(['P.1 (Gama)', 'P.1.14 (Gama)','P.1.7 (Gama)', 'P.1.4 (Gama)',
       'P.1.6 (Gama)', 'P.1.10 (Gama)', 'P.1.8 (Gama)',
       'P.1.11 (Gama)', 'P.1.12 (Gama)', 'P.1.13 (Gama)', 'P.1.9 (Gama)', 'P.1.17 (Gama)',
      'P.1.15 (Gama)',
       'P.1.16 (Gama)', 'P.1.5 (Gama)','P.1.3 (Gama)'], 'Gama')

In [106]:
var['nome_var'] = var['nome_var'].replace(['B.1.621 (Mu)'], 'Mu')

In [108]:
var['nome_var'] = var['nome_var'].replace(['B.1.351 (Beta)'], 'Beta')

In [110]:
var['nome_var'] = var['nome_var'].replace(['B.1.1.7 (Alfa)', 'Q.1 (Alfa)'], 'Alfa')

In [111]:
var['nome_var'] = var['nome_var'].replace([ 'C.37 (Lambda)'], 'Lambda')

In [112]:
var['nome_var'] = var['nome_var'].replace([  'B.1.335', 'B.1.397', 'B.1','B', 'A.2.5', 'P.4', 'P.5',
       'B.1.1.28','B.1.1', 'B.1.1.318', 'B.1.631', 'P.2', 'B.1.177.86', 'C.36.3.1', 'B.1.78', 'N.10', 'A',
       'B.1.1.46', 'N.9', 'P.7', 'B.1.1.277', 'B.1.1.371',
       'B.1.1.161', 'B.1.1.33', 'B.1.1.464', 'B.1.1.332', 'B.1.243',
       'B.1.324', 'B.1.1.348', 'B.1.525', 'C.14', 'B.1.214.3', 'B.1.581',
       'B.1.177.32', 'B.1.1.376', 'B.1.1.274', 'C.36', 'B.1.1.519',
       'AU.1', 'B.1.1.393', 'B.1.160.25', 'B.1.1.378', 'B.1.1.198',
       'B.1.1.44', 'B.1.234', 'B.1.212', 'N.4', 'B.1.2', 'B.1.375', 'N.5',
       'B.1.524', 'B.1.177.52', 'B.1.221', 'N.6', 'B.1.499', 'B.1.1.45',
       'B.1.258', 'B.1.1.333', 'B.1.1.97', 'B.1.407', 'B.1.1.372',
       'B.1.240', 'N.1', 'B.1.362', 'B.1.498', 'B.1.1.462', 'B.1.564',
       'B.1.201', 'B.1.1.12', 'B.1.1.70', 'B.1.91', 'B.1.1.382'], 'Outras')

In [116]:
var.to_csv('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Vaccine_covid/variantes.csv')

In [293]:
var[var.nome_var == 'Omicron']

,Período,Estado,Laboratório,Variante,Classificação,Quantidade,nome_var
0,Dez 2021,Distrito Federal,Outros,BA.1 (Omicron),VOC/VOI,1,Omicron
3,Dez 2021,Rio Grande do Sul,Outros,BA.1 (Omicron),VOC/VOI,1,Omicron
7,Dez 2021,São Paulo,Outros,BA.1 (Omicron),VOC/VOI,2,Omicron
24,Nov 2021,Distrito Federal,Outros,BA.1 (Omicron),VOC/VOI,1,Omicron
112,Nov 2021,São Paulo,Outros,BA.1 (Omicron),VOC/VOI,3,Omicron

# Escore

In [117]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [118]:
escore = escore.fillna(0)

In [119]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

## Escore da variante original para o desfecho 1

In [120]:
escore.columns

Index(['uf_res', 'apenas_primeira_dose_vacina',
       'ciclo_completo_s_reforco_2_doses_vacina',
       'ciclo_completo_s_reforco_unica_vacina',
       'ciclo_completo_c_reforco_2_doses_vacina',
       'ciclo_completo_c_reforco_unica_vacina', 'apenas_primeira_dose_num',
       'ciclo_completo_s_reforco_2_doses_num',
       'ciclo_completo_s_reforco_unica_num',
       'ciclo_completo_c_reforco_2_doses_num',
       'ciclo_completo_c_reforco_unica_num', 'tot'],
      dtype='object')

In [121]:
escore.apenas_primeira_dose_vacina.unique()

array(['astrazeneca', 0, 'pfizer', 'coronavac', 'janssen'], dtype=object)

In [122]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('janssen', 0.669)
escore[s] = escore[s].replace('astrazeneca', 0.493)
escore[s] = escore[s].replace('coronavac', 0.44)
escore[s] = escore[s].replace('pfizer', 0.584)

In [123]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('janssen', 0.669)
    escore[s] = escore[s].replace('astrazeneca', 0.493)
    escore[s] = escore[s].replace('coronavac', 0.44)
    escore[s] = escore[s].replace('pfizer', 0.86)

In [124]:
escore[escore['uf_res']=='ba']

,uf_res,apenas_primeira_dose_vacina,ciclo_completo_s_reforco_2_doses_vacina,ciclo_completo_s_reforco_unica_vacina,ciclo_completo_c_reforco_2_doses_vacina,ciclo_completo_c_reforco_unica_vacina,apenas_primeira_dose_num,ciclo_completo_s_reforco_2_doses_num,ciclo_completo_s_reforco_unica_num,ciclo_completo_c_reforco_2_doses_num,ciclo_completo_c_reforco_unica_num,tot
26,ba,0.000,0.493,0.000,0.000,0.000,0.0,2905451.0,0.0,0.0,0.0,2905451.0
27,ba,0.493,0.000,0.000,0.000,0.000,750394.0,0.0,0.0,0.0,0.0,750394.0
28,ba,0.000,0.000,0.000,0.493,0.000,0.0,0.0,0.0,126518.0,0.0,126518.0
45,ba,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
103,ba,0.000,0.493,0.669,0.000,0.000,0.0,3.0,3.0,0.0,0.0,6.0
111,ba,0.440,0.000,0.000,0.000,0.000,610968.0,0.0,0.0,0.0,0.0,610968.0
112,ba,0.000,0.440,0.000,0.000,0.000,0.0,1773098.0,0.0,0.0,0.0,1773098.0
113,ba,0.000,0.000,0.000,0.440,0.000,0.0,0.0,0.0,609451.0,0.0,609451.0
229,ba,0.000,0.000,0.440,0.000,0.000,0.0,0.0,1.0,0.0,0.0,1.0
306,ba,0.000,0.000,0.669,0.000,0.000,0.0,0.0,1044.0,0.0,0.0,1044.0
307,ba,0.669,0.000,0.000,0.000,0.000,366.0,0.0,0.0,0.0,0.0,366.0
331,ba,0.000,0.860,0.669,0.000,0.000,0.0,1.0,1.0,0.0,0.0,2.0
332,ba,0.000,0.000,0.000,0.000,0.669,0.0,0.0,0.0,0.0,34.0,34.0
348,ba,0.000,0.440,0.669,0.000,0.000,0.0,1.0,1.0,0.0,0.0,2.0
354,ba,0.584,0.000,0.000,0.000,0.000,1782885.0,0.0,0.0,0.0,0.0,1782885.0
355,ba,0.000,0.860,0.000,0.000,0.000,0.0,1914132.0,0.0,0.0,0.0,1914132.0
356,ba,0.000,0.000,0.000,0.860,0.000,0.0,0.0,0.0,2860.0,0.0,2860.0

In [125]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [126]:
sum(escore[escore['uf_res']=='ba']['Escore'])*100/sum(escore[escore['uf_res']=='ba']['tot'])

56.05158126990272

In [127]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

56.051581269902705

In [128]:
escore_original_1 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_original_1.append([value,es])

In [129]:
df_escore_original_1 = pd.DataFrame (escore_original_1, columns = ['UF','Escore_original_1'])

In [130]:
df_escore_original_1.Escore_original_1.describe()

count    29.000000
mean     57.195183
std       0.934634
min      55.059271
25%      56.689549
50%      57.284797
75%      57.723952
max      58.998410
Name: Escore_original_1, dtype: float64

In [133]:
df_escore_original_1.sort_values(by='Escore_original_1', ascending=False);

## Escore da variante original para o desfecho 2

In [134]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [135]:
escore = escore.fillna(0)

In [136]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [137]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('janssen', 0.79)
escore[s] = escore[s].replace('astrazeneca', 0.742)
escore[s] = escore[s].replace('coronavac', 0.5)
escore[s] = escore[s].replace('pfizer', 0.72)

In [138]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('janssen', 0.79)
    escore[s] = escore[s].replace('astrazeneca', 0.767)
    escore[s] = escore[s].replace('coronavac', 0.5)
    escore[s] = escore[s].replace('pfizer', 0.917)

In [140]:
escore[escore['uf_res']=='ba'];

In [141]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [142]:
sum(escore[escore['uf_res']=='ba']['Escore'])*100/sum(escore[escore['uf_res']=='ba']['tot'])

70.83734549801989

In [143]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

70.83734549801989

In [144]:
escore_original_2 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_original_2.append([value,es])

In [145]:
df_escore_original_2 = pd.DataFrame (escore_original_2, columns = ['UF','Escore_original_2'])

In [146]:
df_escore_original_2.Escore_original_2.describe()

count    29.000000
mean     72.281229
std       0.884097
min      70.411869
25%      71.978361
50%      72.279756
75%      72.838133
max      74.275948
Name: Escore_original_2, dtype: float64

## Escore da variante original para o desfecho 3

In [147]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [148]:
escore = escore.fillna(0)

In [149]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [150]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('janssen', 0.81)
escore[s] = escore[s].replace('astrazeneca', 0.8)
escore[s] = escore[s].replace('coronavac', 0.5)
escore[s] = escore[s].replace('pfizer', 0.957)

In [151]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('janssen', 0.81)
    escore[s] = escore[s].replace('astrazeneca', 1)
    escore[s] = escore[s].replace('coronavac', 0.5)
    escore[s] = escore[s].replace('pfizer', 0.967)

In [152]:
escore[escore['uf_res']=='ba'];

In [153]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [154]:
sum(escore[escore['uf_res']=='ba']['Escore'])*100/sum(escore[escore['uf_res']=='ba']['tot'])

82.94356901435228

In [155]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

82.94356901435228

In [156]:
escore_original_3 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_original_3.append([value,es])

In [157]:
df_escore_original_3 = pd.DataFrame (escore_original_3, columns = ['UF','Escore_original_3'])

In [158]:
df_escore_original_3.Escore_original_3.describe()

count    29.000000
mean     84.714196
std       1.445344
min      81.203021
25%      84.196435
50%      84.872785
75%      85.912242
max      88.143969
Name: Escore_original_3, dtype: float64

In [159]:
df_escore_original_3.head()

   UF  Escore_original_3
0  df          85.977919
1  es          84.730144
2  se          85.395397
3  pr          85.912242
4  ro          86.122448

In [160]:
result = pd.merge(df_escore_original_1, df_escore_original_2, on=['UF'])

In [161]:
result = pd.merge(result, df_escore_original_3, on=['UF'])

In [162]:
result.head()

   UF  Escore_original_1  Escore_original_2  Escore_original_3
0  df          58.998410          73.608068          85.977919
1  es          57.723952          72.539247          84.730144
2  se          57.622584          72.684806          85.395397
3  pr          57.986366          73.165507          85.912242
4  ro          58.506569          73.528089          86.122448

In [ ]:
#result.to_csv('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Vaccine_covid/escore_variante_original.csv')

## Escore da variante Alfa para o desfecho 1

In [163]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [164]:
escore = escore.fillna(0)

In [165]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [166]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.52)
escore[s] = escore[s].replace('coronavac', 0.44)
escore[s] = escore[s].replace('pfizer', 0.524)
escore[s] = escore[s].replace('janssen', 0.72)

In [167]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.52)
    escore[s] = escore[s].replace('coronavac', 0.44)
    escore[s] = escore[s].replace('pfizer', 0.69)
    escore[s] = escore[s].replace('janssen', 0.72)

In [168]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [170]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

52.89554959850006

In [172]:
escore_alfa_1 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_alfa_1.append([value,es])

In [173]:
df_escore_alfa_1 = pd.DataFrame (escore_alfa_1, columns = ['UF','Escore_alfa_1'])

In [174]:
df_escore_alfa_1.Escore_alfa_1.describe()

count    29.000000
mean     53.725365
std       0.524925
min      52.523167
25%      53.414037
50%      53.768994
75%      54.104426
max      54.646516
Name: Escore_alfa_1, dtype: float64

In [175]:
df_escore_alfa_1.head()

   UF  Escore_alfa_1
0  df      54.646516
1  es      54.030272
2  se      53.880960
3  pr      54.228788
4  ro      54.478047

## Escore da variante Alfa para o desfecho 2

In [179]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [180]:
escore = escore.fillna(0)

In [181]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [182]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.72)
escore[s] = escore[s].replace('coronavac', 0.5)
escore[s] = escore[s].replace('pfizer', 0.59)
escore[s] = escore[s].replace('janssen', 0.72)

In [183]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.746)
    escore[s] = escore[s].replace('coronavac', 0.5)
    escore[s] = escore[s].replace('pfizer', 0.895)
    escore[s] = escore[s].replace('janssen', 0.72)

In [184]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [186]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

67.45638493332005

In [187]:
escore_alfa_2 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_alfa_2.append([value,es])

In [188]:
df_escore_alfa_2 = pd.DataFrame (escore_alfa_2, columns = ['UF','Escore_alfa_2'])

In [189]:
df_escore_alfa_2.Escore_alfa_2.describe()

count    29.000000
mean     69.023947
std       0.919521
min      66.998276
25%      68.501189
50%      69.111975
75%      69.597019
max      70.553056
Name: Escore_alfa_2, dtype: float64

In [190]:
df_escore_alfa_2.head()

   UF  Escore_alfa_2
0  df      70.372526
1  es      69.597019
2  se      69.111975
3  pr      70.135018
4  ro      70.168279

## Escore da variante Alfa para o desfecho 3

In [191]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [192]:
escore = escore.fillna(0)

In [193]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [194]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.745)
escore[s] = escore[s].replace('coronavac', 0.5)
escore[s] = escore[s].replace('pfizer', 0.717)
escore[s] = escore[s].replace('janssen', 0.85)

In [195]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.86)
    escore[s] = escore[s].replace('coronavac', 0.5)
    escore[s] = escore[s].replace('pfizer', 1)
    escore[s] = escore[s].replace('janssen', 0.85)

In [196]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [198]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

75.01854639383073

In [199]:
escore_alfa_3 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_alfa_3.append([value,es])

In [200]:
df_escore_alfa_3 = pd.DataFrame (escore_alfa_3, columns = ['UF','Escore_alfa_3'])

In [201]:
df_escore_alfa_3.Escore_alfa_3.describe()

count    29.000000
mean     77.010324
std       1.167141
min      74.968758
25%      76.181141
50%      77.074537
75%      77.632832
max      79.349591
Name: Escore_alfa_3, dtype: float64

In [202]:
df_escore_alfa_3.head()

   UF  Escore_alfa_3
0  df      78.680713
1  es      77.632832
2  se      77.248127
3  pr      78.453465
4  ro      78.478282

In [209]:
result.head()

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3
0,df,58.998410,73.608068,85.977919,54.646516,70.372526,78.680713
1,es,57.723952,72.539247,84.730144,54.030272,69.597019,77.632832
2,se,57.622584,72.684806,85.395397,53.880960,69.111975,77.248127
3,pr,57.986366,73.165507,85.912242,54.228788,70.135018,78.453465
4,ro,58.506569,73.528089,86.122448,54.478047,70.168279,78.478282

In [204]:
result = pd.merge(result, df_escore_alfa_1, on=['UF'])

In [206]:
result = pd.merge(result, df_escore_alfa_2, on=['UF'])

In [207]:
result = pd.merge(result, df_escore_alfa_3, on=['UF'])

## Escore da variante Delta para o desfecho 1

In [210]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [211]:
escore = escore.fillna(0)

In [212]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [213]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.49)
escore[s] = escore[s].replace('coronavac', 0.38)
escore[s] = escore[s].replace('pfizer', 0.78)
escore[s] = escore[s].replace('janssen', 0.56)

In [214]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.49)
    escore[s] = escore[s].replace('coronavac', 0.38)
    escore[s] = escore[s].replace('pfizer', 0.78)
    escore[s] = escore[s].replace('janssen', 0.56)

In [215]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [216]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

56.09901603594544

In [217]:
escore_delta_1 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_delta_1.append([value,es])

In [218]:
df_escore_delta_1 = pd.DataFrame (escore_delta_1, columns = ['UF','Escore_delta_1'])

In [219]:
df_escore_delta_1.Escore_delta_1.describe()

count    29.000000
mean     56.774718
std       1.027020
min      54.257943
25%      56.099016
50%      56.652849
75%      57.436160
max      58.852269
Name: Escore_delta_1, dtype: float64

In [220]:
df_escore_delta_1.head()

   UF  Escore_delta_1
0  df       58.262199
1  es       56.521113
2  se       57.852665
3  pr       56.999805
4  ro       58.098998

## Escore da variante Delta para o desfecho 2

In [221]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [222]:
escore = escore.fillna(0)

In [223]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [224]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.31)
escore[s] = escore[s].replace('coronavac', 0.43)
escore[s] = escore[s].replace('pfizer', 0.332)
escore[s] = escore[s].replace('janssen', 0.79)

In [225]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.7)
    escore[s] = escore[s].replace('coronavac', 0.43)
    escore[s] = escore[s].replace('pfizer', 0.879)
    escore[s] = escore[s].replace('janssen', 0.79)

In [226]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [227]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

56.50658865163748

In [228]:
escore_delta_2 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_delta_2.append([value,es])

In [229]:
df_escore_delta_2 = pd.DataFrame (escore_delta_2, columns = ['UF','Escore_delta_2'])

In [230]:
df_escore_delta_2.Escore_delta_2.describe()

count    29.000000
mean     59.093961
std       2.114142
min      52.646869
25%      58.071374
50%      59.257184
75%      60.847686
max      62.049536
Name: Escore_delta_2, dtype: float64

In [231]:
df_escore_delta_2.head()

   UF  Escore_delta_2
0  df       61.301596
1  es       61.189902
2  se       58.257056
3  pr       61.796021
4  ro       60.340074

## Escore da variante Delta para o desfecho 3

In [232]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [233]:
escore = escore.fillna(0)

In [234]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [235]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.88)
escore[s] = escore[s].replace('coronavac', 0.43)
escore[s] = escore[s].replace('pfizer', 0.78)
escore[s] = escore[s].replace('janssen', 0.83)

In [236]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.92)
    escore[s] = escore[s].replace('coronavac', 0.43)
    escore[s] = escore[s].replace('pfizer', 0.96)
    escore[s] = escore[s].replace('janssen', 0.83)

In [237]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [238]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

76.06165056123709

In [239]:
escore_delta_3 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_delta_3.append([value,es])

In [240]:
df_escore_delta_3 = pd.DataFrame (escore_delta_3, columns = ['UF','Escore_delta_3'])

In [241]:
df_escore_delta_3.Escore_delta_3.describe()

count    29.000000
mean     78.067000
std       1.380541
min      74.924704
25%      77.426128
50%      77.966242
75%      79.117421
max      81.266403
Name: Escore_delta_3, dtype: float64

In [242]:
df_escore_delta_3.head()

   UF  Escore_delta_3
0  df       79.409200
1  es       78.138846
2  se       78.623210
3  pr       79.199190
4  ro       79.619112

In [248]:
result.head()

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3
0,df,58.998410,73.608068,85.977919,54.646516,70.372526,78.680713,58.262199,61.301596,79.409200
1,es,57.723952,72.539247,84.730144,54.030272,69.597019,77.632832,56.521113,61.189902,78.138846
2,se,57.622584,72.684806,85.395397,53.880960,69.111975,77.248127,57.852665,58.257056,78.623210
3,pr,57.986366,73.165507,85.912242,54.228788,70.135018,78.453465,56.999805,61.796021,79.199190
4,ro,58.506569,73.528089,86.122448,54.478047,70.168279,78.478282,58.098998,60.340074,79.619112

In [243]:
result = pd.merge(result, df_escore_delta_1, on=['UF'])

In [245]:
result = pd.merge(result, df_escore_delta_2, on=['UF'])

In [247]:
result = pd.merge(result, df_escore_delta_3, on=['UF'])

## Escore da variante Gama para o desfecho 1

In [249]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [250]:
escore = escore.fillna(0)

In [251]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [252]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.49)
escore[s] = escore[s].replace('coronavac', 0.38)
escore[s] = escore[s].replace('pfizer', 0.83)
escore[s] = escore[s].replace('janssen', 0.56)

In [253]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.49)
    escore[s] = escore[s].replace('coronavac', 0.38)
    escore[s] = escore[s].replace('pfizer', 0.83)
    escore[s] = escore[s].replace('janssen', 0.56)

In [254]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [255]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

57.86469472985751

In [258]:
escore_gama_1 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_gama_1.append([value,es])

In [259]:
df_escore_gama_1 = pd.DataFrame (escore_gama_1, columns = ['UF','Escore_gama_1'])

In [260]:
df_escore_gama_1.Escore_gama_1.describe()

count    29.000000
mean     58.590304
std       1.163422
min      55.799163
25%      57.848300
50%      58.482906
75%      59.283453
max      60.893151
Name: Escore_gama_1, dtype: float64

In [261]:
df_escore_gama_1.head()

   UF  Escore_gama_1
0  df      60.300548
1  es      58.310808
2  se      59.822890
3  pr      58.833007
4  ro      60.086708

## Escore da variante Gama para o desfecho 2

In [262]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [263]:
escore = escore.fillna(0)

In [264]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [265]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.5)
escore[s] = escore[s].replace('coronavac', 0.43)
escore[s] = escore[s].replace('pfizer', 0.65)
escore[s] = escore[s].replace('janssen', 0.68)

In [266]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.576)
    escore[s] = escore[s].replace('coronavac', 0.43)
    escore[s] = escore[s].replace('pfizer', 0.98)
    escore[s] = escore[s].replace('janssen', 0.68)

In [267]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [268]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

61.536788145548634

In [269]:
escore_gama_2 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_gama_2.append([value,es])

In [270]:
df_escore_gama_2 = pd.DataFrame (escore_gama_2, columns = ['UF','Escore_gama_2'])

In [271]:
df_escore_gama_2.Escore_gama_2.describe()

count    29.000000
mean     63.183033
std       1.213560
min      60.426223
25%      62.429990
50%      63.341429
75%      63.729549
max      65.515306
Name: Escore_gama_2, dtype: float64

In [272]:
df_escore_gama_2.head()

   UF  Escore_gama_2
0  df      65.515306
1  es      63.926559
2  se      63.704802
3  pr      64.443405
4  ro      64.890552

## Escore da variante Gama para o desfecho 3

In [273]:
escore = pd.read_csv('/Users/julianeoliveira/Downloads/part-00000-0bd5c7cb-0b49-416f-810d-d64a5af3c72c-c000.csv')

In [274]:
escore = escore.fillna(0)

In [275]:
escore['tot'] = escore.iloc[:, 6:11].sum(axis=1)

In [276]:
s ='apenas_primeira_dose_vacina'
escore[s] = escore[s].replace('astrazeneca', 0.83)
escore[s] = escore[s].replace('coronavac', 0.43)
escore[s] = escore[s].replace('pfizer', 0.85)
escore[s] = escore[s].replace('janssen', 0.88)

In [277]:
for s in ['ciclo_completo_s_reforco_2_doses_vacina','ciclo_completo_s_reforco_unica_vacina',
          'ciclo_completo_c_reforco_2_doses_vacina','ciclo_completo_c_reforco_unica_vacina']:
    escore[s] = escore[s].replace('astrazeneca', 0.83)
    escore[s] = escore[s].replace('coronavac', 0.43)
    escore[s] = escore[s].replace('pfizer', 0.98)
    escore[s] = escore[s].replace('janssen', 0.88)

In [278]:
escore['Escore'] = (escore['apenas_primeira_dose_vacina']*escore['apenas_primeira_dose_num']+
       escore['ciclo_completo_s_reforco_2_doses_vacina']*escore['ciclo_completo_s_reforco_2_doses_num']+
       escore['ciclo_completo_s_reforco_unica_vacina']*escore['ciclo_completo_s_reforco_unica_num']+ 
        escore['ciclo_completo_c_reforco_2_doses_vacina']*escore['ciclo_completo_c_reforco_2_doses_num']+
        escore['ciclo_completo_c_reforco_unica_vacina']*escore['ciclo_completo_c_reforco_unica_num'])

In [279]:
escore[escore['uf_res']=='ba']['Escore'].sum()*100/escore[escore['uf_res']=='ba']['tot'].sum()

74.65685966839268

In [280]:
escore_gama_3 = []

for value in escore.uf_res.unique():
    data = escore[escore['uf_res']== value]
    es= data['Escore'].sum()*100/data['tot'].sum()
    
    escore_gama_3.append([value,es])

In [281]:
df_escore_gama_3 = pd.DataFrame (escore_gama_3, columns = ['UF','Escore_gama_3'])

In [282]:
df_escore_gama_3.Escore_gama_3.describe()

count    29.000000
mean     76.388424
std       1.308830
min      72.996880
25%      75.799041
50%      76.397816
75%      77.237851
max      79.548357
Name: Escore_gama_3, dtype: float64

In [283]:
df_escore_gama_3.head()

   UF  Escore_gama_3
0  df      77.900097
1  es      76.271571
2  se      77.237851
3  pr      77.207986
4  ro      78.055846

In [288]:
result.head()

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3,Escore_gama_1,Escore_gama_2,Escore_gama_3
0,df,58.998410,73.608068,85.977919,54.646516,70.372526,78.680713,58.262199,61.301596,79.409200,60.300548,65.515306,77.900097
1,es,57.723952,72.539247,84.730144,54.030272,69.597019,77.632832,56.521113,61.189902,78.138846,58.310808,63.926559,76.271571
2,se,57.622584,72.684806,85.395397,53.880960,69.111975,77.248127,57.852665,58.257056,78.623210,59.822890,63.704802,77.237851
3,pr,57.986366,73.165507,85.912242,54.228788,70.135018,78.453465,56.999805,61.796021,79.199190,58.833007,64.443405,77.207986
4,ro,58.506569,73.528089,86.122448,54.478047,70.168279,78.478282,58.098998,60.340074,79.619112,60.086708,64.890552,78.055846

In [285]:
result = pd.merge(result, df_escore_gama_1, on=['UF'])

In [286]:
result = pd.merge(result, df_escore_gama_2, on=['UF'])

In [287]:
result = pd.merge(result, df_escore_gama_3, on=['UF'])

In [289]:
result.to_csv('escore.csv')

In [303]:
result.describe()

,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3,Escore_gama_1,Escore_gama_2,Escore_gama_3
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,57.195183,72.281229,84.714196,53.725365,69.023947,77.010324,56.774718,59.093961,78.067000,58.590304,63.183033,76.388424
std,0.934634,0.884097,1.445344,0.524925,0.919521,1.167141,1.027020,2.114142,1.380541,1.163422,1.213560,1.308830
min,55.059271,70.411869,81.203021,52.523167,66.998276,74.968758,54.257943,52.646869,74.924704,55.799163,60.426223,72.996880
25%,56.689549,71.978361,84.196435,53.414037,68.501189,76.181141,56.099016,58.071374,77.426128,57.848300,62.429990,75.799041
50%,57.284797,72.279756,84.872785,53.768994,69.111975,77.074537,56.652849,59.257184,77.966242,58.482906,63.341429,76.397816
75%,57.723952,72.838133,85.912242,54.104426,69.597019,77.632832,57.436160,60.847686,79.117421,59.283453,63.729549,77.237851
max,58.998410,74.275948,88.143969,54.646516,70.553056,79.349591,58.852269,62.049536,81.266403,60.893151,65.515306,79.548357

In [299]:
result[result['UF'] == 'am']

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3,Escore_gama_1,Escore_gama_2,Escore_gama_3
23,am,55.330389,72.167266,85.504636,53.130827,69.027304,77.070624,55.041062,58.400841,79.133857,56.50478,61.12299,76.565883

In [300]:
result[result['UF'] == 'sp']

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3,Escore_gama_1,Escore_gama_2,Escore_gama_3
18,sp,56.262686,70.411869,81.203021,53.019896,67.961992,75.068885,54.257943,59.580242,74.924704,55.799163,61.728027,72.99688

In [301]:
result[result['UF'] == 'ms']

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3,Escore_gama_1,Escore_gama_2,Escore_gama_3
20,ms,57.853895,71.987973,82.882814,54.253958,69.425261,77.074537,55.475423,62.049536,76.875651,57.127401,63.729549,75.067224

In [302]:
result[result['UF'] == 'rs']

,UF,Escore_original_1,Escore_original_2,Escore_original_3,Escore_alfa_1,Escore_alfa_2,Escore_alfa_3,Escore_delta_1,Escore_delta_2,Escore_delta_3,Escore_gama_1,Escore_gama_2,Escore_gama_3
27,rs,57.099388,72.572845,85.180919,53.790833,69.834818,77.917777,55.696968,61.787115,78.615434,57.340076,63.371307,76.235565

In [304]:
 (54.2 + 61)/2

57.6